.form-input{
    
    display: contents;
}
.ant-modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
}
.buttonS{
    color: #185503;
    border: solid;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20px;
}
.ant-input{
    margin: 10px 0 ;
}
.ant-input .ant-input-rtl{
    display: flex;
    align-items: center;
}
.ant-btn-primary{
    color: azure;
}