.footer{
  margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgb(122, 121, 121);
     width: 100%;
     text-align: center;
     border-radius: 2px  !important;
     overflow-x: hidden;
  }
  .contact{
    width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .icon{
    padding-bottom: 15px;
     cursor: pointer;
     transition: width 1s, height 2s;
     font-size: 60px;
  }
  .icon:hover{
    width: 100px;
    cursor: pointer;
    font-size: 80px;
  }
  .follow{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .email{
  color: rgb(24, 85, 3);
  font-size: 15px;
  cursor: pointer;
  text-decoration-line:underline ;
  }