.scroll-nav {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}
.nav-wrapper {
  list-style: none;
  display: flex;
  width: 90%;
  height:6vh;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  margin: auto;
}